<!-- index.html -->
{% extends "mysite/base.html" %}
{% block title %} Investment Simulator {% endblock %}
{% block content %}
<div class="container">
    {% if message %}
        <div class="alert alert-{{ message.tag }}">{{ message }}</div>
    {% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" align=center>
            <h3>Login Investment Simulator</h3>
    </div>
</div>

    <form action=".." method="POST">
        {% csrf_token %}
            <table>
                {{ login_form.as_table }}
            </table>
        <input type="submit" value="Log in"></br>
    </form>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" align=center>
                <h3>Work hard! Try hard!</h3>
    </div>

</div>
{% endblock %}
