<!-- signUp.html -->
{% extends "mysite/base.html" %}
{% block title %} test {% endblock %}
{% block content %}
<div class="container">
    {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}

    <form name="myform" action=".." method="post">
        {% csrf_token %}

        <label for="userId">ID:</label>
        <input id="userId" type="text" name="userId">
        <br>
        <label for="userPassword">Password:</label>
        <input id="userPassword" type="password" name="userPassword">
        <br>
        <label for="userPasswordConfirm">Password Confirmation:</label>
        <input id="userPasswordConfirm" type="password" name="userPasswordConfirm">
        <br>
        <label for="userEmail">Email:</label>
        <input id="userEmail" type="email" name="userEmail">
        <br>
        <label for="userAge">Age:</label>
        <input id="userAge" type="number" name="userAge" >
        <br>
        <label for="userGender">Gender:</label>
        <input type="radio" name="userGender" value="male" >male
        <input type="radio" name="userGender" value="female" >female
        <input type="radio" name="userGender" value="other" >other
        <br>
        <label for="userEducation">Highest Education:</label>
        <input type="radio" name="userEducation" value="highSchool" >High School
        <input type="radio" name="userEducation" value="undergraduate" >Undergraduate
        <input type="radio" name="userEducation" value="graduate" >graduate
        <br>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">

    </form>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" align=center>
                <h3>Work hard! Try hard!</h3>
    </div>

</div>
{% endblock %}