<!-- index.html -->
{% extends "base.html" %}
{% block title %} test {% endblock %}
{% block content %}
<div class="container">
    {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}

    <form name="my form" action="/" method="get">
        <label for="userId">ID:</label>
        <input id="userId" type="text" name="userId">
        <label for="userPassword">Password:</label>
        <input id="userPassword" type="password" name="userPassword">
        <br/>
        <input type="submit" value="Login">
        <input type="reset" value="Reset">
        <input type="button" onclick="javacript:location.href='signup/'" value="Sign Up">
    </form>


</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" align=center>
                <h3>Work hard! Try hard!</h3>
    </div>

</div>
{% endblock %}