<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <form name="my form" action="/" method="get">
        <label for="userId">ID:</label>
        <input id="userId" type="text" name="userId">
        <label for="userPassword">Password:</label>
        <input id="userPassword" type="text" name="userPassword">
        <input type="submit" value="Login">
        <input type="reset" value="Reset">
    </form>

    Your Id:{{ urid | default:"Please type your ID" }}<br/>
    {% if verified %}
        <em>Pass</em>
    {% else %}
        <em>Wrong Message</em>
    {% endif %}
</div>
</body>
</html>